<div class="row form-center">
  <div class="col-xs-8 col-md-6">
    <div class="box text-left">
      <h2>Vuelva a enviar instrucciones de confirmación</h2>
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email, "Correo electrónico" %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>
      
      <div class="actions">
        <%= f.submit "Vuelva a enviar instrucciones de confirmación", :class => 'text-white font-medium be-blue' %>
      </div>
      <% end %>
      <div class="actions font-medium">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>