<% name ||= "Crear" %>
<h1><%= name %> Cliente</h1>
<% @client.errors %>
	<%= semantic_form_for @client do |f| %>
	<%= f.input :nombre, placeholder: "Nombre" %>
	<%= f.input :apellido, placeholder: "Apellido" %>
	<%= f.input :identificacion,label: "Cédula de Identidad o RIF", placeholder: "Identificacion" %>
	<%= f.input :email,label: "Correo electrónico", placeholder: "Email" %>
	<%= f.input :telefono, placeholder: "Teléfono" %>
	<%= f.input :direccion, placeholder: "Dirección" %>
	<%= f.input :descripcion, placeholder: "Descripción" %>
	<%= f.input :tipo, :as => :select, :collection => Client.tipos.keys.to_a %>
	<%= f.input :frecuencia, :as => :select, :collection => Client.frecuencia.keys.to_a %>
	<div class="field">		
	<%= f.submit "Guardar", :class => 'text-green font-medium be-transparent' %>
	<%= link_to "Cancelar", "/clients", :class => 'text-hack font-medium be-transparent' %> 
	</div>
	<br>
	<% end %>	