<div class="show-center">
  <h1><%= @client.tipo %>: <strong><%= @client.full_name %></strong></h1>  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Identificacion</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th>Descripción</th>
        <th>Tipo</th>
        <th>Frecuencia</th>
        <th>Creado por</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @client.identificacion %></td>
          <td><%= @client.email %></td>
          <td><%= @client.telefono %></td>
          <td><%= @client.direccion %></td>
          <td><%= @client.descripcion %></td>
          <td><%= @client.tipo %></td>
          <td><%= @client.frecuencia %></td>
          <% unless @client.user.nil? %>
          <td><%= @client.user.username %></td>
          <%end%>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>
    <ul class="nav navbar-nav">
      <li><%= link_to "Clientes", "/clients", :class => 'text-green' %> </li>
      <li><%= link_to  "Editar", edit_client_path(@client), :class => 'text-blue' %></li>
      <li><%= link_to 'Borrar', @client, method: :delete, data: { confirm: 'Estás seguro?' }, :class => 'text-red' %></li>
    </ul>  
  </footer>
</div>