<div class="show-center">
  <h1>Producto: <strong><%= @product.nombre %></strong></h1>  
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @product.nombre %></td>
          <td><%= @product.descripcion %></td>
          <td><%= @product.precio %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <footer>
    <ul class="nav navbar-nav">
      <li><%= link_to "Productos", "/products", :class => 'text-green' %> </li>
      <li><%= link_to  "Editar", edit_product_path(@product), :class => 'text-blue' %></li>
      <li><%= link_to 'Borrar', @product, method: :delete, data: { confirm: 'Estás seguro?' }, :class => 'text-red' %></li>
    </ul>  
  </footer>
</div>