<!DOCTYPE html>
<html>
<head>
  <title>Hack</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "partials/navigation" %>	
<%= bootstrap_flash %>  
<%= yield %>	
</body>
</html>
