<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>N°</th>
      <th>Operación</th>
      <th>Fecha</th>
      <th>Pago</th>
      <th>Producto</th>
      <th>Monto</th>
      <th>Tipo</th>
      <th>Nombre y Apellido</th>
      <th></th>
    </thead>
    <tbody>
      <% @operations.each_with_index do |operation| %>
      
      <tr>
        <td><%= operation.id %></td>
        <td class="link-index"><%= link_to operation.operacion, operation %></td>
        <td><%= operation.fecha %></td>
        <td><%= operation.pago %></td>
        <td><%= operation.product.producto %></td>
        <td><%= operation.product.precio %></td>
        <td><%= operation.client.tipo %></td>
        <td><%= operation.client.full_name %></td>
      <% end %>
    </tbody>
  </table>
</div>