<div class="show-center">
  <h1 class="text-center" style="text-transform: uppercase;">
 
  <%case @operation.state
    when "Borrador"%>
    <strong>Comprobante de <%= @operation.operacion %> # <%= @operation.id %> </strong></h1>   
  <%when "Emitida" || "Pagada" %>
    <strong>Factura de <%= @operation.operacion %> # <%= @operation.id %> </strong></h1> 
  <%when ("Emitida" || "Pagada" || "Borrador") && "Anulada" %>
  <strong><%= @operation.operacion %> # <%= @operation.id %> Anulada</strong></h1> 
  <%end%>
    
<hr>  
  <div class="table-responsive"> 
    <table class="table table-hover">
    <div class="row">
      <div class="col-md-1"><%= image_tag @operation.client.gravatar_url %></div>
      <div class="col-md-2"><h3><%= @operation.client.tipo %></h3></div>
      <div class="col-md-8"></div>
    </div>     
        <thead>
        <th>Nombre y Apellido</th>
        <th>Cédula/RIF</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Dirección</th>
      </thead>
      <tbody>
        <tr>
          <td><%= @operation.client.full_name %></td>
          <td><%= @operation.client.identificacion %></td>
          <td><%= @operation.client.email %></td>
          <td><%= @operation.client.telefono %></td>
          <td><%= @operation.client.direccion %></td>
        </tr>
      </tbody> 
    </table>
    <table class="table table-hover">
    <h3>Datos de la <%= @operation.operacion %></h3>
      <thead>
        <th>Forma de Pago</th>
        <th>Estado</th>
        <th>Fecha</th>
        <th>Creada por</th>
      </thead>
      <tbody>
        <tr>          
          <td><%= @operation.pago %></td>
          <td><%= @operation.state %></td>
          <td><%= @operation.fecha %></td>
          <td><% unless @operation.user.nil? %>
            <%= @operation.user.username %>
          <%end%></td>                
        </tr>
      </tbody>
    </table>
    <div class="field">
    <h3>Comprobante de Pago</h3>           
        <%= image_tag @operation.cover.url(:medium) %>
    </div>
    <table class="table table-hover">
    <h3>Producto</h3>
      <thead>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Impuestos</th>
        <th>Subtotal</th>
        <th>Total</th>
      </thead>
      <tbody>
        <tr>          
          <td><%= @operation.product.producto %></td>
          <td><%= @operation.product.descripcion %></td>
          <td><%= @operation.product.precio %></td>
          <td><%= @operation.impuestos %></td>
          <td><%= @operation.subtotal %></td>
          <td><%= @operation.total %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr>
  <%= render "footer" %> 
</div>
<br>
<br>
<br>